$color-background: #FBFEF4;
$primary-color: #37AB00;
$color-background2: #FFF;
$white: $color-background2;
$black-transparent-30: #0000004D;
$black-transparent-20: #00000033;
$black-transparent-03: #00000008;
$black-transparent-70: rgba(0, 0, 0, 0.7);